body {
    background: #66705D;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Sriracha', cursive;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
}

button {
    margin: 16px auto 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 0.6875rem;
    border-radius: 0.625rem;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    border: 0;
}

button.select {
    width: 24rem;
    height: 5.375rem;
    flex-shrink: 0;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    background: #EF9936;
}

button.small {
    height: 5.375rem;
    width: 16rem;
    background: #66705D;
}

#logo {
    text-align: center;
    color: #FFF;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#book {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    gap: 16px;
}

#leaderboard {
    width: 100%;
}

.tutorial {
    text-align: left;
    text-indent: 2rem;
    margin: 32px auto 32px auto;
    width: 80%;
}

.container {
    margin: auto;
    /* width: 34rem; */
}

.page {
    text-align: center;
    width: 34rem;
    height: 50.375rem;
    /* flex-shrink: 0; */
    margin: auto;
    border-radius: 0.625rem;
    background: #DCD7AA;
}