h1 {
	color: orangered;
	margin-bottom: -5px;
}

p {
	margin-bottom: -10px;
}

#main-display {
	display: grid;
	grid-template-columns: auto auto auto;
}

.ui {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
}

.cell {
	border: 1px solid gray;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}

.cell:active {
	outline: none;
}

/* Reset Button */
.but {
	box-sizing: border-box;
	width: 64px;
	height: 64px;
	border: 1px solid dodgerblue;
	border-radius: 8px;
	background-color: whitesmoke;
	color: dodgerblue;
	font-size: 20pt;
	cursor: pointer;
	margin: auto;
}

/* Change input arrow button style when disabled.*/
.but:disabled,
.but[disabled] {
	background-color: red;
}

#top-but {
	width: 100%;
}

#lef-but {
	height: 100%;
}

#rig-but {
	height: 100%;
}

#bot-but {
	width: 100%;
}

#btnStateRoom {
	background-color: green;
}

/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	color: dodgerblue;
	font-size: 20px;
}

/* Main Container */
#main {
	text-align: center;
}