h1 {
	color: black;
	margin-bottom: -5px;
}

p {
	margin-bottom: -10px;
}

#main-display {
	display: grid;
	grid-template-columns: auto auto auto;
}

.ui {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.row {
	display: flex;
}

.cell {
	border: 1px solid gray;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.cell:active {
	outline: none;
}

.endcell {
	border: 1px solid gray;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.endcell:active {
	outline: none;
}

/* Reset Button */
.but {
	box-sizing: border-box;
	width: 64px;
	height: 64px;
	/* border: 1px solid dodgerblue; */
	border-radius: 8px;
	background-color: #EF9936;
	/* color: dodgerblue; */
	font-size: 20pt;
	cursor: pointer;
	margin: auto;
}

/* Change input arrow button style when disabled.*/
.but:disabled,
.but[disabled],
#btnStartGame:disabled,
#btnStartGame[disabled] {
	background-color: #AD9A84;
}

#top-but,
#bot-but {
	width: 90%;
}

#lef-but {
	height: 90%;
	margin-right: 0;
}

#rig-but {
	height: 90%;
	margin-left: 0;
}


#btnStateRoom {
	background-color: green;
}

/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	color: dodgerblue;
	font-size: 20px;
}

/* Main Container */
#main {
	text-align: center;
}

@media (width <= 350px) {
	.namePlayer {
		width: 90%;
	}
}