* {
    transition: all .3s;
}

body {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Sriracha', cursive;
    background-image: url("background.jpg");
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
}

button {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    margin: 16px auto 16px auto;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem;
    border-radius: 0.625rem;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

button.select {
    width: 20rem;
    height: 8rem;
    flex-shrink: 0;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    background: #EF9936;
}

button.small {
    height: 6rem;
    width: 16rem;
    background: #66705D;
}

button.gameBtn {
    background: #66705D;
}

button.gameBtn:disabled,
button.gameBtn[disabled] {
    opacity: 50%;
}

button.room {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    height: 6rem;
    width: 90%;
    background: #66705D;
    margin: 4px auto 4px auto;
    font-size: 16px;
}

.room-name {
    text-align: start;
}

.player-name {
    text-align: end;
    white-space: nowrap;
    overflow: clip;
}

.player-rank {}

button:hover {
    background: #66705D;
    background: white;
    color: black;
    cursor: pointer;
}

th {
    font-size: 24px;
}

table,
td,
th {
    border: black solid 1px;
}

input {
    border-radius: 8px;
    border: none;
    min-height: 2rem;
    width: 20rem;
}

.page {
    overflow-y: auto;
}

#mobile-button {
    width: 96px;
    height: 96px;
    border-radius: 64px;
    position: fixed;
    bottom: 16px;
    display: none;
}

#mobile-sidebar {
    width: 100%;
    height: 100%;
    background: #000000aa;
    display: none;
    flex-direction: column;
    position: fixed;
    left: -100%;
}

#player-profile {
    margin-top: 32px;
}

#logo {
    text-align: center;
    color: #FFF;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#book {
    display: grid;
    grid-template-columns: 544px 544px;
    justify-content: center;
    gap: 16px;
}

#leaderboard {
    width: 90%;
    margin: auto;
    border-spacing: 0px;
}

#button-container {
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#outside-container {
    display: grid;
    grid-template-columns: 1fr 544px 1fr;
}

#outside-container>#button-container>button {
    margin: 0 16px 16px 0;
    width: 256px;
}

.tutorial {
    text-align: left;
    text-indent: 2rem;
    margin: 32px auto 32px auto;
    width: 80%;
}

.container {
    margin: auto;
    /* width: 34rem; */
}

.page {
    text-align: center;
    width: 34rem;
    height: 50.375rem;
    /* flex-shrink: 0; */
    margin: auto;
    border-radius: 0.625rem;
    background: #DCD7AA;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* .page.leaderboard {
    overflow-y: auto;
} */

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #DCD7AA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.popup-content {
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.popup #emailInput {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* .popup button {

    background-color: #66705D;

    color: #fff;

    padding: 10px 20px;

    border: none;

    border-radius: 4px;

    cursor: pointer;

    font-size: 16px;

} */

#share-facebook {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    background: url('https://cdn.discordapp.com/attachments/1012021672590721096/1212439899601502228/logo_facebook.png?ex=65f1d7a6&is=65df62a6&hm=b6b1e72bb9911b2148da5346fba01735746751bb6f97b7b17058795d72ba058c&');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

#share-twitter {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    background: url('https://cdn.discordapp.com/attachments/1012021672590721096/1212439899375149106/logo_twitter-x.png?ex=65f1d7a6&is=65df62a6&hm=4f013bcbce553efcb8648fed16d2147733a7b81caed91531978aed6be9c008fc&');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

.grid-share {
    padding-bottom: 10%;
    justify-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: repeat(1, 4rem);
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.tutorial img {
    width: 192px;
}

@media (width <=1200px) {
    #book {
        display: block;
    }

    .page {
        margin-top: 32px;
    }

}

@media (width <=880px) {

    #outside-container {
        grid-template-columns: auto;
    }

    #outside-container>#button-container {
        display: none;
    }

    #mobile-button {
        display: block;
    }

    #mobile-sidebar {
        display: flex;
    }
}

@media (width <=576px) {
    #logo {
        font-size: 2rem;
    }

    .page {
        width: 100%;
        height: 100%;
    }

    button.select {
        width: 80%;
    }

    button.small {
        width: 60%;
        font-size: 1rem;
    }

    .cell {
        width: 32px;
        height: 32px;
    }

    #top-but,
    #bot-but {
        height: 90%;
    }

    #lef-but {
        width: 70%;
        margin-right: 0;
    }

    #rig-but {
        width: 70%;
        margin-left: 0;
    }

    .endcell {
        width: 32px;
        height: 32px;
    }

    .popup {
        width: 80%;
    }

}