body {
    background: #66705D;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Sriracha', cursive;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
}

button {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    margin: 16px auto 16px auto;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem;
    border-radius: 0.625rem;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    color: white;
    font-size: 1.5rem;
}

button.select {
    width: 20rem;
    height: 8rem;
    flex-shrink: 0;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    background: #EF9936;
}

button.small {
    height: 6rem;
    width: 16rem;
    background: #66705D;
}

button:hover {
    cursor: pointer;
}

th {
    font-size: 24px;
}

table,
td,
th {
    border: black solid 1px;
}

#logo {
    text-align: center;
    color: #FFF;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#book {
    display: grid;
    grid-template-columns: 544px 544px;
    justify-content: center;
    gap: 16px;
}

#leaderboard {
    width: 90%;
    margin: auto;
    border-spacing: 0px;
}

#button-container {
    gap: 16px;
}

.tutorial {
    text-align: left;
    text-indent: 2rem;
    margin: 32px auto 32px auto;
    width: 80%;
}

.container {
    margin: auto;
    /* width: 34rem; */
}

.page {
    text-align: center;
    width: 34rem;
    height: 50.375rem;
    /* flex-shrink: 0; */
    margin: auto;
    border-radius: 0.625rem;
    background: #DCD7AA;
}

.page.leaderboard {
    overflow-y: scroll;
}

.popup-overlay {

    display: none;

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(0, 0, 0, 0.5);

}

.popup {

font-family: Arial, sans-serif;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    background: #fff;

    padding: 20px;

    border-radius: 8px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.popup-content {

    text-align: center;

}

.popup .close {

    position: absolute;

    top: 10px;

    right: 10px;

    font-size: 20px;

    cursor: pointer;

    color: #333;

}

.popup #emailInput {

    width: 80%;

    padding: 10px;

    margin: 10px 0;

    border: 1px solid #ddd;

    border-radius: 4px;

}

.popup button {

    background-color: #4caf50;

    color: #fff;

    padding: 10px 20px;

    border: none;

    border-radius: 4px;

    cursor: pointer;

    font-size: 16px;

}

@media (width <=1200px) {
    #book {
        display: block;
    }
}

